name: Create release tarball from tag

on: 
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
        registry-url: 'https://registry.npmjs.org'
    - run: yarn install
    - run: yarn dist
      env:
        RIOT_OG_IMAGE_URL: https://web.synod.im/themes/riot/img/logos/synod-im-logo-color.png
    - uses: softprops/action-gh-release@78c309ef59fdb9557cd6574f2e0be552936ed728
      with:
        files: dist/*.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
