name: Create release tarball from tag

on: 
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '16'
    - run: yarn install
    - run: yarn dist
      env:
        RIOT_OG_IMAGE_URL: https://web.synod.im/themes/element/img/logos/synod-im-logo-color.png
    - uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844
      with:
        files: dist/*.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v3
      with:
        name: synod-web
        path: webapp

  deploy-to-staging:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
      with:
        name: synod-web
        path: webapp
    - name: Setup ssh keys
      run: |
        mkdir ~/.ssh
        echo '${{ secrets.SSH_PRIVATE_KEY }}' > ~/.ssh/id_rsa
        echo '${{ secrets.SSH_PUBLIC_KEY }}' > ~/.ssh/id_rsa.pub
        chmod 400 ~/.ssh/id_rsa
    - name: Deploy to web.staging.synod.im
      run: rsync -e "ssh -o StrictHostKeyChecking=no" -arvc webapp/ lki01-synodstaging@lki01.hostsharing.net:/home/pacs/lki01/users/synodstaging/doms/staging.synod.im/subs-ssl/web
